<div id="messBox" class=<% if(!message.title){ %>"hide"<% } %>>
    <span id="equis">✖</span>
    <h2><%= message.title %></h2>
    <p><%= message.content %></p>
    <span id="spanbox" hidden><%= message.class %></span>
</div>