<%- include('components/head') %>
    <%- include('components/barnav') %>
        <h1>Fake user activity Chart</h1>
        <span id="tooltip" class="hide"></span>
        <div id="myChart"></div>
<%- include('components/footer') %>